organization: n01e0
repository: ppb
token: ghp_XXX
annotation_labels:
 - "TODO:* "
 - "FIXME:* "
 - "BUG:* "
 - "HACK:* "
 - "#\\[allow\\([a-zA-Z_].+\\)\\]"
title_format: "{label}: {file} {line}"
body_format: "{line}"
